<div class="main">
  <%= form_tag homepage_index_path, method: :post do %>
    <%= text_area_tag 'comment', nil %>
    <br />
    <%= submit_tag "Save" %>
  <% end %>

  <ul>
  <% @comments.each do |comment| %>
    <li><%= comment.content %>
      <br />
      <%= form_tag homepage_index_path, method: :PATCH do %>
        <%= submit_tag "Like" %>
      <% end %>
      <%= "#{comment.like} "%>
      <%= form_tag homepage_index_path, method: :PATCH do %>
        <%= submit_tag "Dislike" %>
      <% end %>
      <%= "#{comment.dislike} "%>
    </li>
  <% end %>
  </ul>
</div>
